# Default ignored files
/../../../../../../../../:tallwing/.idea/shelf/
/../../../../../../../../:tallwing/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../../../:tallwing/.idea/httpRequests/
